<!DOCTYPE html>
<html>
  <head>
      <title>Info Page</title>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>This HMTL code is inside of a '.erb' file in the views dicrectory, where it belongs.</p>
  </body>
</html>
